---
import Layout from '../layouts/Layout.astro';
import { getEntry, render } from 'astro:content';

const entry = await getEntry('about', 'experience');
if (!entry) {
  throw new Error('Could not find experience');
}

const { Content } = await render(entry);
---

<Layout>
	<h1>{ entry.data.title }</h1>
	<div class="lg:mx-10 lg:mt-10">
		<div class="card prose space-y-4">
			<Content />
		</div>
	</div>
</Layout>
