---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Experience</h1>
	<div class="lg:mx-10 lg:mt-10">
		<div class="min-h-screen">
			<div class="">
				<p>coming soon...</p>
			</div>
		</div>
	</div>
</Layout>
