---
import Layout from '../layouts/Layout.astro';
import { getEntry, render } from 'astro:content';

const entry = await getEntry('about', 'projects');
if (!entry) {
  throw new Error('Could not find about');
}

const { Content } = await render(entry);
---

<Layout>
	<h1>{ entry.data.title }</h1>
	<div class="lg:mx-10 lg:mt-10">
		<div class="min-h-screen">
			<div class="card prose">
				<Content />
			</div>
		</div>
	</div>
</Layout>
