<aside class="flex flex-col gap-3 h-full fixed left">
  <div class="flex items-center">
		<a href="mailto:posada@jspc.dev" class="px-4 py-2 bg-green-600 text-sm text-white rounded hover:bg-green-700 transition-colors">
			Hire me
		</a>
	</div>
	<div class="flex mt-35">
		<a href="#" class="cv-link text-md">
			[Download CV]
		</a>
	</div>
</aside>
