<header class="flex-1 flex-row fixed left">
  <div class="flex flex-col">
		<img src="/assets/logo.svg" alt="JSPC - Jesus Posada" />
  </div>
	<div class="flex flex-col mt-35">
		<a href="/" class="cv-link text-md">
			~>
		</a>
		<a href="/about" class="cv-link text-md">
			/home/about.md
		</a>
		<a href="/projects" class="cv-link text-md">
			/projects/*
		</a>
		<a href="/experience" class="cv-link text-md">
			/experience.md
		</a>
	</div>
</header>